@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Cream);
    height: 100svh;
    width: 100%;
    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 430px;
    border-radius: 10px;
    background-color: var(--White);

    display: flex;
    justify-content: center;

}

.container img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mobile-img {
    display: none;
}

.desktop-img {
    display: block;
}

.product {
    padding: 20px 0;
    width: 700px;
    margin-left: 30px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--Dark-grayish-blue);
}

.product-detail {
    font-size: 35px;
    /* border: 2px solid coral; */
    margin: 20px 0 20px 0;
}

.product p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    margin-right: 60px;
    margin-bottom: 20px;
}

.product-price {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-price span {
    margin-right: 20px;
}

.product-price span:first-of-type {
    font-size: 35px;
    color: var(--Verydark-blue);
    font-weight: 700;
}

.product-price span:last-of-type {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-size: 15px;
}

.product-btn {
    display: block;
    background-color: var(--Dark-cyan);
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;

}

.product-btn:hover,
.product-btn:active {
    background-color: var(--Verydark-blue);
}

button img {
    margin-right: 10px;
}

/* *,
*,
*,
* {
    outline: 2px solid coral;
} */



@media screen and (max-width:600px) {
    .container {
        flex-direction: column;

        width: calc(100% - 50px);
        margin: 20px;
        height: auto;

    }

    .container img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    border-bottom-left-radius: 0;

    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
    }

    .product {
        width: 100%;
        /* outline: 2px solid rgb(65, 42, 165); */
        margin: 0;
        padding: 30px;
    }

    .product-btn {
        width: 100%;
    }
}